html {
    font-size: larger;
    color: rgb(43, 151, 67);
    background: url('./img/background.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
}